<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CurrencyExchanger</title>
    <link rel="stylesheet" href="sub.css">

</head>
<body>
<p>Mam:</p>

<form th:action="@{/exchanger}" th:object="${exchanger}" method="post">
    <input type="number" step="1" min="0" th:field="*{amount}" />  
    <select th:field = "*{sell.Currency}">
        <option th:each="currency: ${T(pl.exchanger.exchanger.model.currency.CurrencyType).values()}"
                th:value="${currency}" th:text="${currency}"></option>
    </select><br>
    Zamienię na :
    <select th:field = "*{buy.Currency}">
        <option th:each="currency: ${T(pl.exchanger.exchanger.model.currency.CurrencyType).values()}"
                th:value="${currency}" th:text="${currency}"></option>
    </select><br>
    <input type="submit" value="wymień!"/>
</form>

</body>
</html>